* {
    box-sizing: border-box;
}

body{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

/* Header */
.header {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
} 

.header .wrapper .header-logo {
    max-width: 20%;
}

.header .wrapper .header-menu {
    max-width: 80%;
}

.header-menu ul {
    list-style: none;
    display: flex;
}

.header-menu ul li {
    margin-left: 20px;
}

.header-menu ul li:last-child{
    margin-right: 0;
}

.header-menu ul li a {
    text-decoration: none;
    font-size: 1.5em;
}

.header-menu ul li a:hover {
    color: tomato;
}

/* Container */
.container {
    width: 1200px;
    max-width: 100%;
    display: flex;
}
/* Container-left */
.container .container-left {
    max-width: 70%;
    margin: 50px 10px 0 50px;
    float: left;
}

.container .container-left h3 {
    font-size: 1em;
    color: darkgray;
}

.container .container-left>p {
    position: relative;
    max-width: 93%;
    text-align: left;
}

.container .container-left img {
    max-width: 100%;
}

.container .container-left .para1 {
    text-align: center;
    max-width: 80%;
    margin: 40px 30px 20px 40px;
}

.container .container-left .icon-share {
    display: flex;
    float: right;
    margin-right: 50px;
}

.container .container-left .icon-share h3 {
    font-size: 1em;
}

.container .container-left .icon-share img {
    margin: 17px 10px;    
}

/* Container-right */
.container .container-right {
    max-width: 30%;
    float: right;
    margin: 70px 0 0 0;
}

.container .container-right .icon img{
    margin-right: 10px;
}

.container .container-right .post {
    max-width: 100%;
    margin-left: -20px;
}

.container .container-right .post ul li {
    font-weight: bold;
}

.container .container-right .post ul p {
    color: darkgray;
}


/* Context */
.context {
    max-width: 100%;
    background: #f0f0f0;
}

.context h3 {
    padding: 50px 50px;
    color: gray;
}

.context .context1 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    justify-content: space-between;
}

.context .context1 .context-tittle h1 {
    font-size: 1.5em;
    color: #383737;
}

/* comment */
.comment {
    max-width: 100%;
    margin: 50px 50px;
}

.comment h4 {
    color: #ada8a8;
}

.comment .comment1 {
    max-width: 100%;
    display: flex;
    margin: 50px auto;
}

.comment .comment1 .circle {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-right: 40px;
    margin-top: auto;
}

.comment .comment1 a {
    text-decoration: none;
    color: gray;
}

.comment .comment1 input {
    width: 65%;
    padding: 12px 20px;
    border-radius: 10px;
}

.comment .comment2 {
    display: flex;
    float: right;
    margin-right: 250px;
}

.comment .comment2 img {
    margin: 22px 20px;
}
/* footer */
.footer {
    width: 1200px;
    height: 100px;
    max-width: 100%;
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer ul li {
    display: inline;
    padding-right: 20px;
}

.footer ul li:first-child {
    padding-left: 80px;
}


.footer ul li a{
    text-decoration: none;
    color: #626262;
}

.footer .icon {
    padding-right: 70px;
}

.footer .icon_social {
    padding: 0 10px;
}

/* Responsive */
@media screen and (max-width: 767px) {

    .header .wrapper .header-logo {
        max-width: 10%;
    }

    .header-menu ul li {
        margin-left: 20px;
    }

    .header-menu ul li:last-child {
        margin-right: 0;
    }

    .header-menu ul li a {
        font-size: 1em;
    }
}